<% include header %>

<form action="/" method="post" class="ui form">
	<input type="text" id="to" placeholder="Entrez l'email"><br>
    <input type="text" id="subject" placeholder="Sujet"><br>
	<div class="field">
		<textarea name="message" id="message" placeholder="Ecrivez ce que vous voulez envoyer"></textarea>
	</div>

	<button type="submit" class="ui blue labeled submit icon button">
		<i class="icon edit"></i>Envoyer Chat
	</button>

	<button type="submit" class="ui red labeled submit icon button">
		<i class="icon edit"></i>Envoyer Email
	</button>
</form>

<div class="ui comments">
	<h3 class="ui dividing header">Commentaires</h3>
	<% for (message of messages) { %>

	
	<div class="comment">
		<a class="avatar" href="/message/<%= message.id %>">
			<img src="https://randomuser.me/api/portraits/lego/7.jpg">
		</a>
		<div class="content">
			<div class="metadata">
				<div class="date">
					<%=message.created_at.fromNow() %>
				</div>
			</div>
			<div class="test"><%= message.content %></div>
		</div>
	</div>
	<% } %>
</div>

<% include footer %>



